<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hi, <%= user.name %></h2>
<div class="row">
	<div class="col-md-4">
		<ul class="list-group">
			<% if(users.length>0){ for(let i =0; i<users.length;i++){ %>
			<li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]._id %>" >
                <img src="<%= "http://localhost:3000/"+users[i].image %>" alt="" width="50px" height="50px">
                <%= users[i].name %>
                <% 
                    if(users[i].is_online === "1"){
                        %>
                        <sup class="online-status" id="<%= users[i]._id %>-status">Online</sup>
                        <%
                    }else{
                        %>
                        <sup class="offline-status" id="<%= users[i]._id %>-status">Offline</sup>
                        <%
                    }
                %>
            </li>
			<% } } %>
		</ul>
	</div>
	<div class="col-md-8">
        <h3 class="start-head">click to start chat</h3>
        <div class="chat-section">
        
            <div id="chat-container">
                <div class="current-user-chat">
                    hii
                </div>
                <div class="distance-user-chat">
                    hello
                </div>
            </div>
            <form action="" id="chat-form">
                <input type="text" name="message" id="message" class="border" placeholder="Enter message"required/>
                <input type="submit" value="Send message" class="btn btn-primary"/>    
            </form>
        </div>
        
    </div>
</div>
<script>
    const sender_id = '<%= user._id %>';
    let receiver_id;
    const socket = io('/user-namespace',{
      auth: { token: sender_id,}
    });
    $(document).ready(()=>{
        $(".user-list").click(function(){
            let userId = $(this).attr("data-id");
            receiver_id = userId;
            $(".start-head").hide();
            $(".chat-section").show();
        });
    });
    socket.on('getOnlineUser', (data)=>{
        $('#'+data.user_id+'-status').text('Online');
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    socket.on('getOfflineUser', (data)=>{
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').removeClass('online-status');
        $('#'+data.user_id+'-status').addClass('offline-status');
    });

    $('#chat-form').submit((e)=>{
        event.preventDefault();
        const message = $('#message').val();
    
    $.ajax({
        url:'/storeChat',
        type: 'POST',
        data:{sender_id:sender_id, receiver_id:receiver_id, message: message},
        success: (response)=>{
            if(response.success){
                $('#message').val("");
                const chat = response.data.message;
                const html = `
                <div class="current-user-chat">
                   <h5> ${chat} <h5>
                </div>`;
                $("#chat-container").append(html);
                console.log(response.data);
                socket.emit("newChat", response.data);
            }else alert(data.msg)
        }
    });
    
});
socket.on('loadNewChat',(data)=>{
    console.log(sender_id+ "    "+ receiver_id);
        console.log(data);
    if(sender_id == data.receiver_id && receiver_id == data.sender_id){
        console.log(sender_id+ "    "+ receiver_id);
        console.log(data);
        const html = `
            <div class="distance-user-chat">
               <h5> ${data.message} <h5>
            </div>`;
            $("#chat-container").append(html);
}    });

</script>
<%- include('layouts/footer.ejs') %>
